
<app-navegacion></app-navegacion>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->



  <header class="w3-container w3-padding-32 w3-center " id="home">

    <video src="assets/video.webm" autoplay loop id="introvideo" class="w3-rest"></video>
    <img src="assets/proyecto.png" alt="" class="w3-image w3-animate-zoom ">
    <h1 class="w3-jumbo"><span class="w3-hide-small"></span> </h1>
    <p class="w3-animate-zoom" style="color:white;font-weight:bold;font-size: 15px; ">Plataforma Mundial de soluciones</p>
  </header>

  <div class="wrapper" style="padding:0;margin:0">
      <div id="slider">
          <figure>
            <div class="imgdiv">
              
      
              
              <img src="assets/1.jpg" alt="Random first slide">
            </div>
            <div class="imgdiv">
              
      
              
              <img src="assets/2.jpg" alt="Random second slide">
            </div>
            <div class="imgdiv">
              
              
              <img src="assets/1.jpg" alt="Random first slide">
            </div>
            <div class="imgdiv">
              
              <img src="assets/3.jpg" alt="Random third slide">
            </div>
            <div class="imgdiv">
              
              <img src="assets/1.jpg" alt="Random first slide">
            </div>
      
          </figure>
        </div>
    
  </div>
</div>



  <!-- About Section -->
  <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
    <br>
    <h2 class="w3-text-orange"style= "text-shadow: 4px 4px black; text-align:center">¡Vive el presente y vén al Futuro!</h2>
    <hr style="width:200px" class="w3-opacity">
    <p style="color:white;font-weight:bold;font-size: 18px; text-shadow: 3px 3px 4px black; text-align:center">Unete y se parte del proyecto mas ambicioso de la historia. Comienza la tercera revolucion digital con
      nosotros
    </p>

    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br><br>
  
       <h3 class="w3-padding-16 w3-text-orange">Stats</h3>
       <p style="font-weight: bold;" class="w3-wide w3-text-white animated bounceIn">Mercadeo</p>
       <div class="w3-white">
         <div class="w3-blue w3-animate-fadein" style="height:28px;width:95%"></div>
       </div>
       <p style="font-weight: bold;" class="w3-wide w3-text-white animated bounceIn">Usuarios</p>
       <div class="w3-white">
         <div class="w3-blue w3-animate-fadein" style="height:28px;width:85%"></div>
       </div>
       <p style="font-weight: bold;" class="w3-wide w3-text-white animated bounceIn">Nivel de Satisfaccion</p>
       <div class="w3-white">
         <div class="w3-blue w3-animate-fadein" style="height:28px;width:80%"></div>
       </div><br>
  
       <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">
         <div class="w3-quarter w3-section">
           <span class="w3-xlarge">11+</span><br>
           Socios
         </div>
         <div class="w3-quarter w3-section">
           <span class="w3-xlarge">55+</span><br>
           Proyectos Hechos
         </div>
         <div class="w3-quarter w3-section">
           <span class="w3-xlarge">89+</span><br>
           Clientes Felices
         </div>
         <div class="w3-quarter w3-section">
           <span class="w3-xlarge">150+</span><br>
           Eventos
         </div>
       </div>
  
      
        
    
    
    
    
    
    
    
       ...
       <h3 class="w3-padding-16 w3-text-orange">Membresias</h3>
       <div class="w3-row-padding" style="margin:0 -16px">
         <div class="w3-half w3-margin-bottom">
           <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
             <li class="w3-blue w3-xlarge w3-padding-32">Basic</li>
             <li class="w3-padding-16">Soporte</li>
             <li class="w3-padding-16">Photography</li>
             <li class="w3-padding-16">Visibilidad Limitada</li>
             <li class="w3-padding-16">Soporte E-mail</li>
             <li class="w3-padding-16">
               <h2>$ 10</h2>
               <span class="w3-opacity">per month</span>
             </li>
             <li class="w3-light-grey w3-padding-24">
               <button routerLink="/Register" class="w3-button w3-white w3-padding-large w3-hover-black">Sign Up</button>
             </li>
           </ul>
         </div>
  
         <div class="w3-half">
           <ul class="w3-ul w3-white w3-center w3-opacity w3-hover-opacity-off">
             <li class="w3-blue w3-xlarge w3-padding-32">Pro</li>
             <li class="w3-padding-16">Soporte 24/7</li>
             <li class="w3-padding-16">Productos Ilimitados</li>
             <li class="w3-padding-16">Visibilidad muy alta</li>
             <li class="w3-padding-16">Soporte Chat Dinamico</li>
             <li class="w3-padding-16">
               <h2>$ 25</h2>
               <span class="w3-opacity">per month</span>
             </li>
             <li class="w3-light-grey w3-padding-24">
               <button routerLink="/Register" class="w3-button w3-white w3-padding-large w3-hover-black">Sign Up</button>
             </li>
           </ul>
         </div>
  
         
   
         <!-- End Grid/Pricing tables 
       </div>
           -->
    
    
    
    
    
        ...
       <h3 class="w3-padding-24 w3-text-orange">Testimonios</h3>
       <img src="/assets/bandmember.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
       <p><span class="w3-large w3-margin-right">Melanie Pataquiva Tocasuche.</span> CEO at Mighty Schools.</p>
       <p>Gracias a Cleisser he ganado mucho dinero.</p><br>
  
       <img src="/assets/avatar_g2.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
       <p><span class="w3-large w3-margin-right">Leopolda Moreno.</span> CEO at Company.</p>
       <p>Soy independiente y oranizo mi tiempo gracias a Cleisser.</p>
       
    <!-- End About Section 
     </div>
  -->
    <!-- Portfolio Section 
     <div class="w3-padding-64 w3-content" id="photos">
       <h2 class="w3-text-light-grey">My Photos</h2>
       <hr style="width:200px" class="w3-opacity">
       -->

    <!-- Grid for photos 
       <div class="w3-row-padding" style="margin:0 -16px">
         <div class="w3-half">
           <img src="/w3images/wedding.jpg" style="width:100%">
           <img src="/w3images/rocks.jpg" style="width:100%">
           <img src="/w3images/sailboat.jpg" style="width:100%">
         </div>
  
         <div class="w3-half">
           <img src="/w3images/underwater.jpg" style="width:100%">
           <img src="/w3images/chef.jpg" style="width:100%">
           <img src="/w3images/wedding.jpg" style="width:100%">
           <img src="/w3images/p6.jpg" style="width:100%">
         </div>-->
    <!-- End photo grid -->
  </div>
  <!-- End Portfolio Section -->
</div>
