<div id="navegacion" [ngClass]="{'animated fadeOutUp':a===9}">
  <!-- Icon Bar (Sidebar - hidden on small screens) -->
  <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
    <!-- Avatar image in top left corner -->
    <img src="assets/cleiser.gif" style="width:100%" class="w3-image">
    
    
    <a class="w3-bar-item w3-button w3-padding-large w3-hover-black ">
      <i class="fas fa-plus-circle w3-xxlarge icono "></i>
      
      <p class="bar-mobile">PUBLICAR</p>
    </a>
    <a class="w3-bar-item w3-button w3-padding-large w3-hover-black "
    (click)=salirSesion(9) >
      <i class="fa fa-dungeon w3-xxlarge icono"></i>
      <p class="bar-mobile">SALIR</p>
    </a>

  </nav>

  <!-- Navbar on small screens (Hidden on medium and large screens) -->
  <div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
    <div class="w3-bar w3-black w3-center w3-small w3-text-orange">
      <a routerLink="/" class="w3-bar-item w3-button w3-large fas fa-plus-circle w3-hover-black" style="width:50% !important">PUBLICAR</a>
      <a routerLink="/dashboard" class="w3-bar-item w3-button w3-large fa fa-archway w3-hover-black" style="width:50% !important">SALIR</a>
      
    </div>
  </div>

</div>